{% extends 'base.html' %}
{% block  content %}
{% load static %}
<link rel="stylesheet" href="{% static 'blog/login.css' %}">

    <div>
        <div class="login-container">
            <div class="hs">
                <h1>Gabitainment Admin<h1>
                    <h1>LogIn</h1>
            </div>
            <form method="POST" action="">
                {% csrf_token %}
                <label>Username:</label>
                <input type="text"  name="username" value="Username" placeholder="Enter Username"><br>
    
                <label>Password:</label>
                <input type="password" name="password"  placeholder="Enter Password"><br>
    
                <input class="submit"type="submit" value="Login">
            </form>

        </div>
    </div>
{% endblock  %}